{
  "parserOptions": {
    "ecmaVersion": 2018, // suppport syntax features (like Object spread operator) up to es2018
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true,
    "es2017": true // suppport globals (like Promise) up to es2017 (es2018 doesn't have new globals)
  },
  "rules": {
    "curly": 2,
    "no-eq-null": 2,
    "wrap-iife": [
      2,
      "any"
    ],
    "new-cap": 2,
    "no-caller": 2,
    "dot-notation": 0,
    "no-debugger": 2,
    "no-undef": 2,
    "no-unused-vars": [2, { "args": "none" }]
  }
}
