{
    "branches": ["master"],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      ["@semantic-release/github", {
        "assets": [
          {"path": "dist/blackbird-handlebars.js", "label": "helpers.js"},
          {"path": "dist/index.js", "label": "index.js"}
        ]
      }],
      "@semantic-release/npm",
      [
        "semantic-release-github-pullrequest", {
          "assets": ["CHANGELOG.md", "package.json"],
          "baseRef": "master"
        }
      ],
      [
        "@semantic-release/exec", {
          "publishCmd": "curl -XPOST -u \"${{ secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}}\" -H \"Accept: application/vnd.github.everest-preview+json\" -H \"Content-Type: application/json\" https://api.github.com/repos/bigcommerce/paper/dispatches --data '{\"event_type\": \"bump_hbs\", \"version\": \"${nextRelease.version}\", \"notes\": \"${nextRelease.notes}\"}"
        }
      ]
    ]
}